DATABASE_URL=postgresql://f3prod:f3prod_local_dev@localhost:5433/f3prod_dev

# `openssl rand -hex 32`
NEXTAUTH_SECRET=****

NEXTAUTH_URL=https://localhost:3000
NEXT_PUBLIC_NEXTAUTH_URL=https://localhost:3000

TWILIO_SENDGRID_API_KEY=****
TWILIO_SENDGRID_TEMPLATE_ID=****
EMAIL_VERIFICATION_SENDER=support.auth@f3nation.com

NODE_ENV=development
ALLOWED_ORIGINS=https://localhost:3001
