DATABASE_URL=postgresql://[user]:[password]@[host]:[port]/[database]
DB_CONNECTION_MODE=direct

# Required when DB_CONNECTION_MODE=connector
# CLOUD_SQL_CONNECTION_NAME=[project-id]:[region]:[instance-id]
# DB_USER=[database-user]
# DB_PASSWORD=[database-password]
# DB_NAME=[database-name]
# CLOUD_SQL_IP_TYPE=PUBLIC

# `openssl rand -hex 32`
NEXTAUTH_SECRET=****

NEXTAUTH_URL=https://localhost:3000
NEXT_PUBLIC_NEXTAUTH_URL=https://localhost:3000

TWILIO_SENDGRID_API_KEY=****
TWILIO_SENDGRID_TEMPLATE_ID=****
EMAIL_VERIFICATION_SENDER=support.auth@f3nation.com

NODE_ENV=development
